[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "tucan"
authors = [{name = "Jan C. Brammer", email = "jan.c.brammer@gmail.com"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)"]
dynamic = ["version", "description"]

dependencies = [
    "networkx[default] >=2.7.1",
    "matplotlib >=3.5.0",
    "tabulate >=0.8.9"
]

[project.optional-dependencies]
dev = [
    "notebook",
    "ipywidgets",
    "black",
    "flake8",
    "pytest"
]
io = [
    "rdkit-pypi >=2021.9.5.1"    # reading SMILES
]
drawing = [
    "plotly"    # interactive 3D drawings
]