name: CI
on: [push, workflow_dispatch, pull_request]

jobs:

  lint_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: pytest
        run: |
          pytest
      - name: black
        run: |
          black . --check --diff --extend-exclude "tucan/parser/tucan.*\.py"
